@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .layout {
    @apply z-10 mx-auto w-[90%] max-w-[1066px] text-light;
  }
  .id-layout {
    @apply relative z-10 mx-auto flex h-full w-[90%] max-w-[1200px] text-light lg:flex-col;
  }
  .detail-page-btn {
    @apply fixed top-5 z-20 flex justify-center rounded-md border-2 border-zinc-800 bg-dark-theme py-1 px-3 align-middle text-light 
    transition duration-100 hover:scale-[1.03] hover:border-all active:scale-[0.97];
  }
}

[data-fade] {
  @apply translate-y-10 opacity-0 transition duration-500 ease-out;
}
.fade-in-start [data-fade] {
  @apply translate-y-0 opacity-100;
}
.fade-in-start [data-fade='1'] {
  transition-delay: 150ms;
}
.fade-in-start [data-fade='2'] {
  transition-delay: 300ms;
}
.fade-in-start [data-fade='3'] {
  transition-delay: 450ms;
}
.fade-in-start [data-fade='4'] {
  transition-delay: 600ms;
}
.fade-in-start [data-fade='5'] {
  transition-delay: 750ms;
}
.fade-in-start [data-fade='6'] {
  transition-delay: 900ms;
}
